// Imports

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: #212121;
    color: #ffff;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
    padding: 2rem;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

// Main Content
.main__content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
